# Python
__pycache__/
*.pyc
*.pyo
venv/
*.sqlite3

# Environment
.env

# Uploads (images utilisateurs)
backend/media/

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
