# Django et DRF
Django==5.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1

# CORS
django-cors-headers==4.3.1

# Images et fichiers
Pillow==10.2.0
django-storages==1.14.2

# Base de données
psycopg2-binary==2.9.9

# Validation
django-phonenumber-field==7.3.0
phonenumbers==8.13.27

# Sécurité
django-environ==0.11.2
python-decouple==3.8

# Paiement
stripe==7.11.0

# Email
django-ses==3.5.2

# Documentation API
drf-yasg==1.21.15

# Filtres
django-filter==24.1

# Utilitaires
python-dotenv==1.0.0
requests==2.31.0